<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <!-- Datos para la aplicación actual -->
  <appSettings>
    <add key="rutaArchivoConfiguracion"  value="FuenteMacsConfig.xml"/>
    <add key="rutaArchivoLog"  value="FuenteMacsLog.data"/>
    <add key="nombreMemoriaCompartida"  value="FuenteMacsMem"/>
    <add key="nombreMutexCompartido"  value="FuenteMacsMutex"/>
    <add key="capacidadMemoriaCompartida"  value="1800"/>   <!-- 18*100: 100 registros de 17 caracteres (MAC) + 1 caracter (Separador) -->
    <add key="cantidadReintentosAnteFallo"  value="3"/>
    <add key="leyendaMacSinDescripcion"  value="Desconocido"/>
  
    <!-- Datos para la conexión con MongoDB -->
    <add key="mongoUrlConexion"  value="mongodb://localhost"/>
    <add key="mongoNombreBaseDatos"  value="dprbd"/>
    <add key="mongoNombreColeccion"  value="Fuente"/>

  </appSettings>
  
</configuration>